.card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 85%;
  height: 35vh;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
  border-radius: 14px;
  /* background-color: rgb(255, 255, 255); */
  background-color: #dee2e6;
  margin: auto;

  word-wrap: break-word;
  overflow: hidden;
}

.buttonstack {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 48px;
  width: 60%;
  margin: auto;
  font-size: larger;
}

.buttonstack button {
  padding: 1rem;
  background-color: #dee2e6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
}

.buttonstack button:active {
  background-color: antiquewhite;
}
