.homepage {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainbackground {
  padding: 1rem;
  height: 85vh;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  /* background-color: rgb(255, 255, 255); */
  background-color: #6c757c;
  margin: auto;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
  cursor: pointer;
}

.backButton button {
  height: 50%;
}

.buttonstack {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 48px;
  width: 60%;
  margin: auto;
  font-size: larger;
}

.buttonstack button {
  padding: 1rem;
  background-color: #dee2e6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
}

.buttonstack button:active {
  background-color: antiquewhite;
}

@media screen and (max-width: 540px) {
  .mainbackground {
    width: 100%;
  }
}
