@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mynerve&family=Pacifico&display=swap");

.homepage {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainbackground {
  padding: 1rem;
  height: 85vh;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  /* background-color: #d5bdaf; */
  /* background-color: #6c757c; */
  background: linear-gradient(
    white 0%,
    rgb(186, 248, 248) 40%,
    rgb(186, 248, 248) 60%,
    white 100%
  );
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0.5, 0.5);
  border-radius: 40px;
  height: auto;
  width: 100%;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: x-large;
  /* background-color: #dee2e6; */
  background-color: white;
}

.alignment {
  margin: auto;
}

.buttonstack {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 48px;
  width: 30%;
  margin: auto;
  font-size: larger;
}

.buttonstack button {
  padding: 1rem;
  /* background-color: #dee2e6; */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  font-size: larger;
  cursor: pointer;
}

.buttonstack button:active {
  background-color: rgb(206, 212, 207);
}

.midSection {
  display: flex;
  height: 10%;
}

.reviewButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: auto;
  padding-bottom: 12px;
  justify-content: space-between;
}

.reviewButton button {
  background: rgb(186, 248, 248);
  border: none;
  font-size: large;
  cursor: pointer;
  text-decoration: underline;
}

.card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;

  width: 100%;
  height: 30vh;

  box-shadow: 0 1px 8px rgba(0, 2, 1, 0.5);
  border-radius: 14px;

  text-align: center;
  font-size: 42px;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: #f5ebe0; */
  background-color: #ffffff;
  margin: auto;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.terms {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  margin: auto;
  background-color: #6c757c;
  border-radius: 14px;
  width: 40%;
  font-size: large;
}

@media screen and (max-width: 540px) {
  .mainbackground {
    width: 90%;
    height: 100vh;
  }

  .buttonstack {
    width: 80%;
  }
}
