@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #d6ccc2; */
  /* background-color: #212529; */
  background: linear-gradient(
    white 0%,
    rgb(150, 212, 212) 35%,
    rgb(150, 212, 212) 35%,
    white 100%
  );
  font-family: "Inter", inter;
}
