.navBar {
  display: flex;
  background-color: white;
  flex-direction: row;
  width: 40%;
  /* height: 100%; */
  align-items: end;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

@media screen and (max-width: 540px) {
  .navBar {
    width: 100%;
  }
}
